*{
   
}
div {
    width: fit-content;
}

.par{
    position: relative;
    margin-top: 50px;
}
#triangle-up {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 40px solid black;
position: absolute;
left: 46%;
bottom:0;
}
.bdge{
width: 100px;
height: 120px;
background-color: aquamarine;
margin-left: 80px;


}
@media screen and (max-width: 750px) {
    .bdge{
    height: 80px;
    }
}